target
build
src-gen
xtend-gen
xtext-gen
*.DS_Store

!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties
gradle-app.setting
.env
.gradle
.gradletasknamecache
.classpath
*.launch
.settings
.project
.text
*.jar
xcore-gen
.vscode
*.ecore

